/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --backgroundColor: #004643;
  --navbarBackground: #abd1c6;
  --headlineColor: #f85e00;
  --textColor: #e8e4e6;
  --navText: #1e1e1e;
  --highlightColor: #ffd279;
  /* fonts */
  --textFont: "Rubik", sans-serif;
  /* other variables */
  --borderRadius: 0.4rem;
  --transition: 0.4s ease-in-out;
  --maxWidth: 1120px;
  --fixedWidth: 500px;
  /* Box Shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
body {
  background-color: var(--backgroundColor); /*#d9725b*/
  font-family: var(--textFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  padding: 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--maxWidth);
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: var(--borderRadius);
}

/* Navbar */

nav {
  height: 5rem;
  background-color: var(--navbarBackground); /* other color option #000060 */
  position: sticky;
  top: 0;
  z-index: 10;
  display: grid;
  place-items: center;
  box-shadow: var(--shadow-2);
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  color: var(--navText);
  text-transform: capitalize;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  margin: 0 2rem;
  padding: 0.2rem;
}

.nav-links li:hover {
  border-bottom: 1px solid var(--backgroundColor);
  text-transform: uppercase;
}
/* Hero section */

.hero {
  min-height: 70vh;
  width: 100%;
  display: grid;
  place-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.hero img {
  width: 70%;
}

.hero h1 {
  padding: 0 2rem;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--highlightColor);
  text-transform: uppercase;
}

/* Club Presentation */

#club-presentation {
  width: 100%;
  padding: 2rem;
  display: grid;
  place-items: center;
  gap: 2rem;
}

.text-presentation h3 {
  color: var(--headlineColor);
  padding-left: 2rem;
  padding-bottom: 2rem;
}

#club-presentation p {
  color: var(--textColor);
  line-height: 2.5rem;
  font-size: 17px;
  line-break: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.club-gallery {
  margin: 0 auto;
  width: 90vw;
  max-width: var(--maxWidth);
  display: grid;
  place-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.club-gallery img {
  height: 350px;
  width: 450px;
  object-fit: cover;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-1);
}

@media (min-width: 990px) {
  .club-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .club-gallery img {
    width: 350px;
    height: 250px;
  }
}

/* Quote Section */

#quote-section {
  height: 400px;
  width: auto;
  display: grid;
  place-items: center;
  background-color: var(--highlightColor);
  padding: 2rem;
}

#quote-section h2 {
  color: #f22f1d;
  font-weight: bold;
  text-align: start;
}

#quote-section h3 {
  text-align: end;
  color: var(--headlineColor);
}
#quote-section span {
  font-style: italic;
}

@media (min-width: 990px) {
  #quote-section {
    height: 250px;
  }
}
/* Club activities*/

#club-activities {
  display: grid;
  padding: 2rem;
  place-items: center;
}
#club-activities p {
  font-size: 18px;
  line-height: 2.2rem;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 2rem;
}

/* hide images by default*/
.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  object-fit: cover;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-1);
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: transparent;
  background-color: var(--highlightColor);
  margin: 0 auto;
  padding: 4px 4px;
  color: var(--backgroundColor);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  transition: var(--transition);
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 32px;
}
.prev:hover,
.next:hover {
  transform: scale(1.2);
  color: var(--headlineColor);
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Join The Club Section */

#join-us {
  padding-bottom: 2rem;
  display: grid;
  place-items: center;
}

#join-us p {
  color: #f2be5c;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

.newsletter-form {
  padding: 2rem;
  width: 90vw;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr auto;
}
.form-input,
.submit-btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--highlightColor);
}

.form-input {
  border-right: none;
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
}
.submit-btn {
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}
.form-input::placeholder {
  text-transform: capitalize;
  color: var(--backgroundColor);
}

.submit-btn {
  background: var(--highlightColor);
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition);
  color: var(--backgroundColor);
  font-weight: bold;
}
.submit-btn:hover {
  background: #ffe4af;
}

/* Footer section */

footer {
  display: grid;
  place-items: center;
  height: auto;
  width: 100%;
  padding: 2rem;
  background-color: #ffdb94;
  color: var(--backgroundColor);
}
.social-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding-bottom: 1rem;
}
.social-links a {
  color: var(--backgroundColor);
  transition: var(--transition);
}
.social-links a:hover {
  color: #336b69;
}
